*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
p{
    margin: 0px;
}
h1{
    margin: 0px;
}
h2{
    margin: 0px;
}
table{
    border-collapse: separate;
}
button{
    text-transform: uppercase;
    text-align: center;
    background-color: #0fafe9;
    color: white;
    cursor: pointer;
    border: 1px solid #0fafe9;
    border-radius: 10px;
    font-size: 15px;
}
/* ant */
.ant-input-lg {
    height: 60px;
}
.ant-btn-lg{
    height: 60px;
    text-shadow: none;
    border: none;
    box-shadow: none;
}